Repository datadrivencz/proxima-platform, pull requests merged in 2020-07, with the labels that each got.

#394 [proxima-direct-core] add ConsumedOffset to InMemStorage.WatermarkEstimatorFactory
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBoundedSource.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
Labels: beam, beam-core, direct, direct-core

#395 Remove unnecessary RPCs to S3 file system.
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3BlobPath.java
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3FileSystem.java
Labels: direct, direct-io

#397 S3Client connection configuration
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3Client.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3ClientTest.java
Labels: direct, direct-io

#396 [proxima-core]: Polite logging and fix some javadoc warnings
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/config/ConfigUtils.java
  core/src/main/java/cz/o2/proxima/time/PartitionedWatermarkEstimator.java
  core/src/main/java/cz/o2/proxima/time/WatermarkEstimator.java
  core/src/main/java/cz/o2/proxima/transform/ContextualProxyTransform.java
  core/src/main/java/cz/o2/proxima/transform/DataOperatorAware.java
  core/src/main/java/cz/o2/proxima/transform/ProxyTransform.java
  core/src/main/java/cz/o2/proxima/transform/RenameTransformation.java
  core/src/main/java/cz/o2/proxima/transform/Transformation.java
  core/src/main/java/cz/o2/proxima/util/SerializableScopedValue.java
Labels: core

#398 [proxima-beam-core]: Fix name for reading batch source
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectDataAccessorWrapper.java
Labels: beam, beam-core

#399 [proxima-beam-core] add throttling option for DirectBatchUnboundedSource
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectDataAccessorWrapper.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
Labels: beam, beam-core

#400 [proxima-beam-core] do not serialize maxThroughput to source
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectDataAccessorWrapper.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
Labels: beam, beam-core

#402 [proxima-tools] bump groovy version to 2.5.13
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
  pom.xml
Labels: beam, beam-core

#403 NamingConventionFactory forces serializability
  direct/io-bulkfs/src/main/java/cz/o2/proxima/direct/bulk/NamingConventionFactory.java
Labels: direct, direct-io
