Repository datadrivencz/proxima-platform, pull requests merged in 2020-05, with the labels that each got.

#342 [proxima-direct-core] fix deadlock in inmem
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectUnboundedSource.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
Labels: beam, beam-core, direct, direct-core

#343 [proxima-direct-core] use WatermarkEstimatorFactory for InMemoryStorage
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
Labels: beam, beam-core, direct, direct-core

#344 Verify replication controller bulk commits
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriterTest.java
Labels: direct, direct-core, direct-io

#345 [proxima-beam-tools] register various descriptors to kryo
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
Labels: beam

#346 [proxima-beam-tools] #145 add tests for inner and outer joins
  beam/pom.xml
  beam/tools/pom.xml
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamWindowedStream.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyEnvTest.java
Labels: beam, tools

#347 [proxima-direct-io-http] fix CVE-2020-11050
  direct/io-http/pom.xml
Labels: direct, direct-io

#349 [proxima-beam-tools] test SparkRunner with GroovyEnv
  beam/pom.xml
  beam/tools/pom.xml
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProvider.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamGroovyEnvTest.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyEnvTest.java
Labels: beam, tools

#350 [proxima-direct-io-cassandra] shade objectweb
  direct/io-cassandra/pom.xml
Labels: direct, direct-io

#351 [proxima-direct-io-gcloud-storage] initialize writer after deserializ…
  direct/io-gcloud-storage/src/main/java/cz/o2/proxima/direct/gcloud/storage/BulkGCloudStorageWriter.java
  direct/io-gcloud-storage/src/main/java/cz/o2/proxima/direct/gcloud/storage/GCloudClient.java
  direct/io-gcloud-storage/src/main/java/cz/o2/proxima/direct/gcloud/storage/GCloudFileSystem.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/BulkGCloudStorageWriterTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudClientTest.java
Labels: direct, direct-io

#352 [proxima-core] add option to specify default validation flags
  core/src/main/java/cz/o2/proxima/repository/ConfigConstants.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
Labels: core

#353 Introduce compressed repository factory.
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  core/src/main/java/cz/o2/proxima/repository/RepositoryFactory.java
  core/src/main/java/cz/o2/proxima/util/StringCompressions.java
  core/src/test/java/cz/o2/proxima/repository/RepositoryFactoryTest.java
  core/src/test/java/cz/o2/proxima/util/StringCompressionsTest.java
Labels: core

#354 Make sonar happy.
  core/src/main/java/cz/o2/proxima/util/StringCompressions.java
Labels: core

#355 [proxima-direct-io-bulk] make bulk writer more robust
  direct/io-bulk-fs/src/main/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriter.java
  direct/io-gcloud-storage/src/main/java/cz/o2/proxima/direct/gcloud/storage/BlobPath.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/BlobPathTest.java
  direct/io-hadoop/src/main/java/cz/o2/proxima/direct/hadoop/HadoopPath.java
  direct/io-hadoop/src/test/java/cz/o2/proxima/direct/hadoop/HadoopPathTest.java
Labels: direct, direct-io

#356 [proxima-beam-tools] drop explicit type descriptors
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamWindowedStream.java
Labels: beam

#357 [proxima-beam-core] Coders are deterministic
  beam/core/src/main/java/cz/o2/proxima/beam/core/io/AttributeDescriptorCoder.java
  beam/core/src/main/java/cz/o2/proxima/beam/core/io/EntityDescriptorCoder.java
  beam/core/src/main/java/cz/o2/proxima/beam/core/io/PairCoder.java
  beam/core/src/main/java/cz/o2/proxima/beam/core/io/StreamElementCoder.java
Labels: beam, beam-core

#358 [proxima-direct-io-kafka] prevent ConcurrentModificationException in local kafka
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
Labels: direct, direct-io

#359 [proxima-direct] shade jackson in io modules
  beam/core/pom.xml
  direct/io-cassandra/pom.xml
  direct/io-hbase/pom.xml
  direct/io-hdfs/pom.xml
Labels: beam, beam-core, direct, direct-io

#360 [proxima-direct-core] better propagate errors from LocalCachedPartitionedView
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/LocalCachedPartitionedViewTest.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
Labels: direct, direct-core, direct-io

#362 [proxima-direct-io-kafka] TopicOffset might be uninitialized
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/TopicOffset.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/Utils.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/TopicOffsetTest.java
Labels: direct, direct-io

#363 Configurable naming convention for bulk io
  direct/io-bulk-fs/src/main/java/cz/o2/proxima/direct/bulk/DefaultNamingConventionFactory.java
  direct/io-bulk-fs/src/main/java/cz/o2/proxima/direct/bulk/FileFormatUtils.java
  direct/io-bulk-fs/src/main/java/cz/o2/proxima/direct/bulk/NamingConventionFactory.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/DefaultNamingConventionFactoryTest.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/FileFormatUtilsTest.java
Labels: direct, direct-io

#364 [proxima-direct-io-kafka] improve comment for TopicOffset
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/TopicOffset.java
Labels: direct, direct-io

#348 [proxima-beam-tools] #146 add persistIntoTargetFamily
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamWindowedStream.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamTest.java
  beam/tools/src/test/resources/log4j.properties
  core/src/main/java/cz/o2/proxima/util/SerializableScopedValue.java
  core/src/main/java/cz/o2/proxima/util/SerializableUtils.java
  core/src/test/java/cz/o2/proxima/util/SerializableScopedValueTest.java
  core/src/test/resources/test-reference.conf
  core/src/test/resources/test-replication.conf
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemBulkStorage.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/IngestServiceTest.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/RepositoryProvider.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/Stream.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyEnvTest.java
Labels: beam, core, direct, direct-core, tools

#365 Add watermark skew metrics.
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/TransformationObserver.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/metrics/Metrics.java
Labels: direct

#368 [proxima-direct-io-kafka] remove unused config option
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
Labels: direct, direct-io
