Repository datadrivencz/proxima-platform, pull requests merged in 2020-03, with the labels that each got.

#293 [proxima-tools] fix deleteAll call from console
  core/src/main/java/cz/o2/proxima/storage/StreamElement.java
  direct/io-hbase-bindings/pom.xml
  direct/io-hbase-bindings/src/main/java/cz/o2/proxima/direct/hbase/HBaseWriter.java
  direct/io-hbase-bindings/src/test/resources/reference.conf
  direct/io-hbase/pom.xml
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/HBaseWriterTest.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaStreamElement.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/Console.java
Labels: direct, direct-io, tools

#294 [proxima-core] #137 enforce using Repository#asFactory when serializing Repository
  beam/core/src/test/java/cz/o2/proxima/beam/core/AttributeFamilyProxyDataDescriptorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProviderTest.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamTest.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  core/src/main/java/cz/o2/proxima/repository/RepositoryFactory.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/java/cz/o2/proxima/storage/StreamElementTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/MultiAccessBuilderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/StreamElementTest.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/IngestServer.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/IngestServiceTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessorTest.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/DefaultCqlFactoryTest.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/TransformingCqlFactoryTest.java
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/HBaseLogObservableTest.java
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/HBaseWriterTest.java
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/RandomHBaseReaderTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  maven/src/main/java/cz/o2/proxima/generator/ModelGenerator.java
  maven/src/main/resources/java-source.ftlh
Labels: beam, direct, direct-io, maven

#296 [proxima-maven] formatting fix
  maven/src/main/resources/java-source.ftlh
Labels: maven

#298 [proxima] fix javadoc publish
  .github/workflows/functions.sh
  .github/workflows/upload-javadocs.sh
Labels: infra

#299 [io-kafka] Do not seek to negative offsets.
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/Utils.java
Labels: direct, direct-io

#297 [proxima-core] #138 serialize resolved config with Repository
  beam/core/src/test/java/cz/o2/proxima/beam/core/AttributeFamilyProxyDataDescriptorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/io/AttributeDescriptorCoderTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/io/EntityDescriptorCoderTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/io/StreamElementCoderTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/StreamConfig.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProviderTest.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamTest.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  core/src/main/java/cz/o2/proxima/repository/RepositoryFactory.java
  core/src/test/java/cz/o2/proxima/repository/AttributeFamilyDescriptorTest.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/java/cz/o2/proxima/repository/DefaultConsumerNameFactoryTest.java
  core/src/test/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptorTest.java
  core/src/test/java/cz/o2/proxima/repository/TransformationDescriptorTest.java
  core/src/test/java/cz/o2/proxima/storage/StreamElementTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/MultiAccessBuilderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/StreamElementTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/PartitionedCachedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/replication/SingleTopicMultipleReplicationsTest.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/IngestServer.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/io-bulk-fs/src/main/java/cz/o2/proxima/direct/bulk/BinaryBlobFormat.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriterTest.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/BinaryBlobFormatTest.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/JsonFormatTest.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessorTest.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/DefaultCqlFactoryTest.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/TransformingCqlFactoryTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/BulkGCloudStorageWriterTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudClientTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudFileSystemTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudLogObservableTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudStorageAccessorTest.java
  direct/io-hadoop/src/test/java/cz/o2/proxima/direct/hadoop/HadoopPathTest.java
  direct/io-hadoop/src/test/java/cz/o2/proxima/direct/hadoop/HadoopStorageTest.java
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/HBaseLogObservableTest.java
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/HBaseWriterTest.java
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/RandomHBaseReaderTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/serializer/ValueAsBytesSerializerTest.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubReaderTest.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubWriterTest.java
  maven/src/main/java/cz/o2/proxima/generator/ModelGenerator.java
  maven/src/main/resources/java-source.ftlh
  tools/src/main/java/cz/o2/proxima/tools/groovy/Compiler.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyTest.java
Labels: beam, direct, direct-io

#300 [proxima-direct-io-kafka] verify that TopicOffset is not constructed …
  direct/core/src/main/java/cz/o2/proxima/direct/core/Partition.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/TopicOffset.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/Utils.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/TopicOffsetTest.java
Labels: direct, direct-io

#302 [proxima-tools] #141 fix flaky test
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyEnvTest.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyTest.java
Labels: tools

#304 [proxima-direct-io-kafka] synchronize mock ConsumerGroup
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/ConsumerGroup.java
Labels: direct, direct-io

#310 [proxima-direct-core] validate access and availability of reader and …
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectAttributeFamilyProxyDescriptor.java
Labels: direct

#311 [proxima-beam-core] add method for reading specific family directly
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
Labels: beam, beam-core

#312 [proxima-core] Add Repository#getFamilyByName even for overridden families
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/resources/test-reference.conf
Labels: beam, beam-core, core

#313 [proxima-bram-core] Improve exceptions when PCollection cannot be created from AttributeFamily
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
Labels: beam, beam-core

#314 [proxima-direct-io-s3] shade org.mortbay.servlet
  direct/io-hdfs/pom.xml
  direct/io-s3/pom.xml
Labels: direct, direct-io

#315 [proxima-core] Make KeyValue a StreamElement
  core/src/main/java/cz/o2/proxima/storage/StreamElement.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectAttributeFamilyProxyDescriptor.java
  direct/core/src/main/java/cz/o2/proxima/direct/randomaccess/KeyValue.java
  direct/core/src/main/java/cz/o2/proxima/direct/randomaccess/MultiAccessBuilder.java
  direct/core/src/main/java/cz/o2/proxima/direct/randomaccess/RawOffset.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/KeyValueTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/MultiAccessBuilderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/PartitionedCachedViewTest.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/RetrieveService.java
  direct/io-hbase/src/test/java/cz/o2/proxima/direct/hbase/RandomHBaseReaderTest.java
  tools/src/main/resources/class-entitydesc.ftlh
Labels: core, direct, direct-core, direct-io, tools

#316 [proxima-direct-core] add KeyValue#getParsedRequired
  direct/core/src/main/java/cz/o2/proxima/direct/randomaccess/KeyValue.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/KeyValueTest.java
Labels: direct, direct-core

#317 [proxima-direct-io-bulk-fs] #136 add late data handling
  direct/core/src/main/java/cz/o2/proxima/direct/core/AttributeWriterBase.java
  direct/io-bulk-fs/src/main/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriter.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriterTest.java
  direct/io-hadoop/src/main/java/cz/o2/proxima/direct/hadoop/HadoopDataAccessor.java
  direct/io-hadoop/src/test/java/cz/o2/proxima/direct/hadoop/HadoopStorageTest.java
Labels: direct, direct-core, direct-io

#318 [proxima-core] improve errors from DataOperatorAware#as
  core/src/main/java/cz/o2/proxima/transform/DataOperatorAware.java
Labels: core

#319 [proxima-direct,proxima-direct-io-kafka] Added isAceptible check for Kafka topics
  direct/core/src/main/java/cz/o2/proxima/direct/core/DataAccessor.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaAccessorTest.java
Labels: direct, direct-core, direct-io

#321 [proxima-core] make RenameTransformation public
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/transform/RenameTransformation.java
  core/src/test/java/cz/o2/proxima/transform/RenameTransformationTest.java
  core/src/test/resources/test-replication-single-topic.conf
  direct/core/src/test/java/cz/o2/proxima/replication/SingleTopicMultipleReplicationsTest.java
Labels: core, direct, direct-core

#322 [proxima-core] don't verify types in asymmetric proxies
  core/src/main/java/cz/o2/proxima/repository/AttributeDescriptorBase.java
Labels: core
