Repository datadrivencz/proxima-platform, pull requests merged in 2020-09, with the labels that each got.

#429 [proxima-infra] show output log of mvn deploy-snapshot
  .github/workflows/deploy-snapshot.sh
Labels: infra

#428 [proxima-core] Add Repository#drop method
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  core/src/main/java/cz/o2/proxima/repository/RepositoryFactory.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
Labels: core, direct, direct-io

#432 [direct-core] Properly handle onError return value in inmem commit lo…
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
Labels: direct, direct-core

#433 [direct-core] Fix StdoutStorage.
  core/src/main/resources/META-INF/services/cz.o2.proxima.storage.StorageDescriptor
  direct/core/src/main/resources/META-INF/services/cz.o2.proxima.direct.core.DataAccessorFactory
  direct/core/src/test/java/cz/o2/proxima/direct/core/StdoutStorageTest.java
Labels: core, direct, direct-core

#431 #171
  core/src/main/java/cz/o2/proxima/storage/watermark/GlobalWatermarkTracker.java
  core/src/main/java/cz/o2/proxima/util/ExceptionUtils.java
  pom.xml
  utils-zookeeper/license-header-spotless.txt
  utils-zookeeper/license-header.txt
  utils-zookeeper/pom.xml
  utils-zookeeper/src/main/java/cz/o2/proxima/utils/zookeeper/ZKGlobalWatermarkTracker.java
  utils-zookeeper/src/test/java/cz/o2/proxima/utils/zookeeper/ZKGlobalWatermarkTrackerTest.java
  utils-zookeeper/src/test/resources/log4j.properties
Labels: beam, beam-core, core, direct, direct-core, legal

#438 Revert "[proxima-beam-core] Fix checkpoint coder memory leak."
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
  core/src/main/java/cz/o2/proxima/storage/Partition.java
  core/src/main/java/cz/o2/proxima/util/ForwardingInputStream.java
  core/src/main/java/cz/o2/proxima/util/ForwardingOutputStream.java
Labels: beam, beam-core, core

#437 [direct-io-kafka] Add first kafka IT test.
  direct/core/src/main/java/cz/o2/proxima/direct/core/CommitCallback.java
  direct/io-kafka/pom.xml
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaLogReaderIT.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  pom.xml
Labels: direct, direct-core, direct-io
