Repository datadrivencz/proxima-platform, pull requests merged in 2020-06, with the labels that each got.

#370 [proxima-direct-io-gcloud-storage] Don't initialize writer before writing
  direct/io-gcloud-storage/src/main/java/cz/o2/proxima/direct/gcloud/storage/BulkGCloudStorageWriter.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/BulkGCloudStorageWriterTest.java
Labels: direct, direct-io

#371 [io-kafka] Cleanup offset committer references.
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
Labels: direct, direct-io

#372 [proxima-direct-io-bulk-fs] #153 fix bulk commit with late data
  direct/io-bulk-fs/src/main/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriter.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriterTest.java
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/ComplexWriteTest.java
Labels: direct, direct-io

#375 [proxima-direct-io-bulk-fs] add more checks to ComplexWriteTest
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/ComplexWriteTest.java
Labels: direct, direct-io

#374 Fix maven build lifecycle.
  direct/io-bigtable/pom.xml
  direct/io-pubsub/pom.xml
  maven/pom.xml
Labels: direct, direct-io, maven

#377 [proxima-direct-io-bulk-fs] #157 disable flake
  direct/io-bulk-fs/src/test/java/cz/o2/proxima/direct/bulk/ComplexWriteTest.java
Labels: direct, direct-io

#376 [proxima-direct-io-kafka] #155 fix watermark calculation on empty partitions
  direct/core/src/main/java/cz/o2/proxima/direct/time/MinimalPartitionWatermarkEstimator.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/Consumers.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/ElementConsumer.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/ConsumerGroup.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaAccessorTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  pom.xml
Labels: direct, direct-core, direct-io

#378 [proxima-direct-io-bulkfs] #157 reenable test
  direct/io-bulkfs/src/main/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriter.java
  direct/io-bulkfs/src/test/java/cz/o2/proxima/direct/bulk/AbstractBulkFileSystemAttributeWriterTest.java
  direct/io-bulkfs/src/test/java/cz/o2/proxima/direct/bulk/ComplexWriteTest.java
Labels: direct, direct-io

#379 [proxima-direct-ingest-server-grpc] add configurable num threads in thread pool
  direct/ingest-server/src/main/java/cz/o2/proxima/server/Constants.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/IngestServer.java
Labels: direct

#383 chore: new Console init with args, public ToolsClassLoader
  tools/src/main/java/cz/o2/proxima/tools/groovy/Console.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/ToolsClassLoader.java
Labels: tools

#385 S3 writer should use multi-part upload.
  beam/core/pom.xml
  beam/pom.xml
  direct/compiler/pom.xml
  direct/core/pom.xml
  direct/ingest-client/pom.xml
  direct/io-blob/pom.xml
  direct/io-blob/src/main/java/cz/o2/proxima/direct/blob/BlobLogObservable.java
  direct/io-blob/src/test/java/cz/o2/proxima/direct/blob/BlobLogObservableTest.java
  direct/io-bulkfs/src/main/java/cz/o2/proxima/direct/bulk/BinaryBlobFormat.java
  direct/io-cassandra/pom.xml
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/DefaultCqlFactoryTest.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/TransformingCqlFactoryTest.java
  direct/io-gcloud-storage/pom.xml
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudFileSystemTest.java
  direct/io-http/pom.xml
  direct/io-kafka/pom.xml
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaAccessorTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-pubsub/pom.xml
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/MockPublisher.java
  direct/io-s3/pom.xml
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3BlobPath.java
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3Client.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3BlobPathTest.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3ClientTest.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3FileSystemTest.java
  direct/pom.xml
  example/tools/pom.xml
  maven/pom.xml
  pom.xml
  tools/pom.xml
Labels: beam, beam-core, direct, direct-core, direct-io, example, maven, tools

#386 Polishing
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectUnboundedSource.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
Labels: beam, beam-core, direct, direct-core

#387 [proxima-direct-io-inmem] fix seek to offset
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserverTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLog.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/TimeBoundedVersionedCacheTest.java
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3Client.java
Labels: beam, beam-core, direct, direct-core, direct-io

#389 [proxima-beam] bump beam version
  beam/pom.xml
Labels: beam

#388 [proxima] v0.4.0
  .github/generate-megrerequest-list.sh
  README.md
  RELEASE-NOTES.md
  beam/beam-vendor/beam-runners-direct-java/license-header-spotless.txt
  beam/beam-vendor/beam-runners-direct-java/pom.xml
  beam/beam-vendor/beam-runners-flink-1.9/license-header-spotless.txt
  beam/beam-vendor/beam-runners-flink-1.9/pom.xml
  beam/beam-vendor/beam-sdks-java-core/license-header-spotless.txt
  beam/beam-vendor/beam-sdks-java-core/pom.xml
  beam/beam-vendor/beam-sdks-java-extensions-euphoria/license-header-spotless.txt
  beam/beam-vendor/beam-sdks-java-extensions-euphoria/pom.xml
  beam/beam-vendor/beam-sdks-java-extensions-kryo/license-header-spotless.txt
  beam/beam-vendor/beam-sdks-java-extensions-kryo/pom.xml
  beam/beam-vendor/license-header-spotless.txt
  beam/beam-vendor/license-header.txt
  beam/beam-vendor/pom-template.xml
  beam/beam-vendor/pom.xml
  beam/beam-vendor/vendor-template-pom.xml
  beam/core-testing/pom.xml
  beam/core/pom.xml
  beam/io-pubsub/pom.xml
  beam/pom.xml
  beam/tools/pom.xml
  core/pom.xml
  direct/compiler/pom.xml
  direct/core-testing/pom.xml
  direct/core/pom.xml
  direct/ingest-client/pom.xml
  direct/ingest-server/pom.xml
  direct/io-bigtable/pom.xml
  direct/io-blob/pom.xml
  direct/io-bulkfs/pom.xml
  direct/io-cassandra/pom.xml
  direct/io-gcloud-storage/pom.xml
  direct/io-hadoop/pom.xml
  direct/io-hbase-bindings/pom.xml
  direct/io-hbase/pom.xml
  direct/io-hdfs/pom.xml
  direct/io-http/pom.xml
  direct/io-kafka/pom.xml
  direct/io-pubsub/pom.xml
  direct/io-s3/pom.xml
  direct/pom.xml
  direct/rpc/pom.xml
  example/model/pom.xml
  example/pom.xml
  example/proto/pom.xml
  example/server/pom.xml
  example/tools/pom.xml
  maven/pom.xml
  pom.xml
  scheme/avro/pom.xml
  scheme/confluent/pom.xml
  scheme/pom.xml
  scheme/proto/pom.xml
  tools/pom.xml
Labels: beam, beam-core, beam-io, core, direct, direct-core, direct-io, infra, legal

#391 [proxima-direct-core] synchronize start of replication in ReplicationController
  direct/core/src/test/java/cz/o2/proxima/util/ReplicationRunner.java
  direct/core/src/test/java/cz/o2/proxima/util/TransformationRunner.java
Labels: direct, direct-core

#392 [proxima-direct-core] fix race in offset calculation in InMemStorage
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
Labels: beam, beam-core, direct, direct-core

#393 [proxima-beam-core] finish BlockingQueueLogObserver when onCompleted
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserverTest.java
  direct/core/src/test/java/cz/o2/proxima/util/TransformationRunner.java
Labels: beam, beam-core, direct, direct-core
