Repository datadrivencz/proxima-platform, pull requests merged in 2020-08, with the labels that each got.

#408 io-pubsub: Change FlowControl from block to ignore to avoid stop reading after 1000 msg
  direct/io-pubsub/src/main/java/cz/o2/proxima/direct/pubsub/PubSubReader.java
Labels: direct, direct-io

#410 [Beam-core]: Introduce StreamElementFilter transforms
  beam/core/src/main/java/cz/o2/proxima/beam/transforms/BufferUntilCheckpoint.java
  beam/core/src/main/java/cz/o2/proxima/beam/transforms/StreamElementFilter.java
  beam/core/src/test/java/cz/o2/proxima/beam/transforms/BufferUntilCheckpointTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/transforms/ExtractKeyToKvTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/transforms/StreamElementFilterTest.java
Labels: beam, beam-core

#412 #165: NPE when asking beam log reader for watermark
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
Labels: beam, beam-core, direct, direct-io

#414 [direct-io-blob]: improve logging in BlobLogObservable
  direct/io-blob/src/main/java/cz/o2/proxima/direct/blob/BlobLogObservable.java
Labels: direct, direct-io

#415 [proxima-beam-core] fix flaky test
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
Labels: beam, beam-core

#407 [proxima-beam-core] Fix checkpoint coder memory leak.
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
  core/src/main/java/cz/o2/proxima/util/ForwardingInputStream.java
  core/src/main/java/cz/o2/proxima/util/ForwardingOutputStream.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/Partition.java
Labels: beam, beam-core, core, direct, direct-core

#419 [proxima] #167 fix deserialization of ConfigRepository with contextual transforms
  beam/core/src/test/java/cz/o2/proxima/beam/core/JoinProxyTransformTest.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  core/src/main/java/cz/o2/proxima/repository/RepositoryFactory.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
Labels: beam, beam-core, core, direct, direct-core

#420 [proxima-beam-tools] enable deprecated read experiment
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProvider.java
Labels: beam

#421 [proxima-core] remove Repository#asDataOperator from public APi
  README.md
  beam/core-testing/src/main/java/cz/o2/proxima/beam/ReadMe.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProvider.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamTest.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  direct/core-testing/src/main/java/cz/o2/proxima/direct/ReadMe.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/MultiAccessBuilderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/LocalCachedPartitionedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/PartitionedCachedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/replication/SingleTopicMultipleReplicationsTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubReaderTest.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubWriterTest.java
Labels: beam, beam-core, core, direct, direct-core, direct-io

#390 Support for nio channels in bulk storages.
  direct/io-bulkfs/src/main/java/cz/o2/proxima/direct/bulk/Path.java
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3BlobPath.java
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3Client.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3BlobPathTest.java
Labels: direct, direct-io

#423 [proxima-beam-core] #168 use BlockingQueueLogObserver in DirectBatchUnboundedSource
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
Labels: beam, beam-core

#424 [proxima-beam-core] refactor method to close sonar issue
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
Labels: beam, beam-core

#425 [direct-io-s3] Fix EOF handling.
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3BlobPath.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3BlobPathTest.java
Labels: direct, direct-io

#426 [direct-io-s3] Read partial.
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3BlobPath.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3BlobPathTest.java
Labels: direct, direct-io
