Repository datadrivencz/proxima-platform, pull requests merged in 2021-08, with the labels that each got.

#586 [proxima-direct-io-bigtable] use core version of guava
  direct/io-bigtable/pom.xml
Labels: direct, direct-io

#585 O2-Czech-Republic#237 ensure atomic update of state and return response
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/scheme/JavaSerializer.java
  core/src/main/java/cz/o2/proxima/transaction/Commit.java
  core/src/main/java/cz/o2/proxima/transaction/TransactionCommitTransformation.java
  core/src/main/java/cz/o2/proxima/transaction/TransactionTransformProvider.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/java/cz/o2/proxima/transaction/NoopTransactionTransformProvider.java
  core/src/test/java/cz/o2/proxima/transaction/TransactionCommitTransformationTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/ServerTransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionCommitTransformation.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionCommitTransformationProvider.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriter.java
  direct/core/src/main/java/cz/o2/proxima/direct/transform/DirectElementWiseTransform.java
  direct/core/src/main/java/cz/o2/proxima/direct/transform/TransformationObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/ThreadPooledObserverTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionCommitTransformationTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionResourceManagerTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionalCachedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriterTest.java
  direct/core/src/test/java/cz/o2/proxima/util/TransformationRunner.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/TransformationObserver.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionIT.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverTest.java
  direct/transaction-manager/src/test/resources/application.conf
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/main/proto/transactions.proto
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactoryTest.java
Labels: scheme, direct, core, direct-core

#587 [proxima-direct] O2-Czech-Republic#215 allow specifying explicit cleanup interval
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
Labels: direct, direct-core

#589 [proxima] fix groupId in mvn-build-changed-modules.sh
  .github/mvn-build-changed-modules.sh
Labels: infra

#422 [direct-io-cassandra] Remove unnecessary random-access reader synchro…
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraRandomReader.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/DefaultCqlFactory.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/StringConverter.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessorTest.java
Labels: direct, direct-io

#593 [proxima] Verify that a sub-project is part of reactor before build
  .github/mvn-build-changed-modules.sh
Labels: infra

#594 [proxima-ingest-server-grpc] #239 correctly cleanup transactions on timeout
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/ServerTransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/IngestServer.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/transaction/TransactionContext.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/IngestServiceTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/transaction/TransactionsTest.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
Labels: direct, direct-core

#595 [proxima-ingest-server-grpc] fix sonar reported bug
  direct/ingest-server/src/main/java/cz/o2/proxima/server/RetrieveService.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/transaction/TransactionContext.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/transaction/TransactionsTest.java
Labels: direct

#598 [proxima-direct-io-cassandra] O2-Czech-Republic#241 fix escape of column name in scanPartition
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/DefaultCqlFactory.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/DefaultCqlFactoryTest.java
Labels: direct, direct-io
