Repository datadrivencz/proxima-platform, pull requests merged in 2021-09, with the labels that each got.

#601 [proxima-transaction-manager] O2-Czech-Republic#245 add output attributes to conflict verification
  .github/mvn-build-changed-modules.sh
  .github/workflows/build.yml
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverTest.java
Labels: direct, infra

#599 [proxima-direct-io-cassandra] O2-Czech-Republic#242 add Cluster and Session management per URI authority
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraLogReader.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraRandomReader.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraWriter.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessorTest.java
Labels: direct, direct-io

#603 [proxima-transaction-manager] simplify transaction verification logic
  direct/ingest-server/src/main/java/cz/o2/proxima/server/RetrieveService.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverTest.java
Labels: direct

#600 O2-Czech-Republic#244 allow specifying consistency level
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraLogReader.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraRandomReader.java
Labels: direct, direct-io

#606 [proxima] polish build
  beam/io-pubsub/pom.xml
  beam/tools/pom.xml
  direct/io-bigtable/pom.xml
  direct/io-pubsub/pom.xml
Labels: direct, direct-io, beam, beam-io

#607 Bump parquet to 1.12.0
  direct/io-bulkfs-parquet/pom.xml
Labels: direct, direct-io

#608 [proxima-direct-io-cassandra] bump driver to 3.11.0
  direct/io-cassandra/pom.xml
Labels: direct, direct-io

#610 [proxima] fix javadoc publish
  .github/workflows/upload-javadocs.sh
Labels: infra

#611 [proxima-direct-io-cassandra] #248 fix closing of Cluster
  .github/workflows/mvn.sh
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraLogReader.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessorTest.java
Labels: direct, direct-io, infra

#612 [proxima-direct-io-kafka] O2-Czech-Republic#243 fix stopAtCurrent with frequent log-roll
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-io

#617 [proxima-tools] close DirectDataOperator with Console
  core/src/test/resources/test-reference.conf
  tools/pom.xml
  tools/src/main/java/cz/o2/proxima/tools/groovy/Console.java
  tools/src/main/java/cz/o2/proxima/tools/io/ConsoleRandomReader.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/DummyStreamProvider.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/util/ConsoleRandomReaderTest.java
Labels: tools, core

#616 [proxima-core] AbstractStorage is not by default Serializable
  core/src/main/java/cz/o2/proxima/storage/AbstractStorage.java
  core/src/test/java/cz/o2/proxima/storage/AbstractStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/io-blob/src/main/java/cz/o2/proxima/direct/blob/BlobStorageAccessor.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
  direct/io-http/src/main/java/cz/o2/proxima/direct/http/HttpWriter.java
  direct/io-http/src/test/java/cz/o2/proxima/direct/http/SerializableTest.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
  direct/io-pubsub/src/main/java/cz/o2/proxima/direct/pubsub/PubSubAccessor.java
Labels: direct, direct-io, core, direct-core

#615 [proxima-direct-io-cassandra] Simplification
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraLogReader.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraRandomReader.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraWriter.java
Labels: direct, direct-io

#619 Cleanup: use Repository.ofTest in tests + remove not used/necessary code in tests
  beam/core-testing/src/test/java/cz/o2/proxima/beam/storage/TestStreamStorageTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/io/AttributeDescriptorCoderTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/io/EntityDescriptorCoderTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/io/StreamElementCoderTest.java
  beam/io-pubsub/src/test/java/cz/o2/proxima/beam/io/pubsub/PubSubDataAccessorTest.java
  core/src/test/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptorTest.java
  core/src/test/java/cz/o2/proxima/repository/EntityDescriptorBuilderTest.java
  core/src/test/java/cz/o2/proxima/repository/TransformationDescriptorTest.java
  core/src/test/java/cz/o2/proxima/transform/RenameTransformationTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/KeyValueTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/ThreadPooledObserverTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/LocalCachedPartitionedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/PartitionedCachedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/TimeBoundedVersionedCacheTest.java
  direct/core/src/test/java/cz/o2/proxima/replication/SingleTopicMultipleReplicationsTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/transaction/TransactionsTest.java
  direct/io-blob/src/test/java/cz/o2/proxima/direct/blob/BlobLogReaderTest.java
  direct/io-blob/src/test/java/cz/o2/proxima/direct/blob/BlobStorageAccessorTest.java
  direct/io-blob/src/test/java/cz/o2/proxima/direct/blob/BulkBlobWriterTest.java
  direct/io-bulkfs-parquet/src/test/java/cz/o2/proxima/direct/bulk/fs/parquet/ParquetUtilsTest.java
  direct/io-bulkfs-parquet/src/test/java/cz/o2/proxima/direct/bulk/fs/parquet/StreamElementWriteSupportTest.java
  direct/io-bulkfs/src/test/java/cz/o2/proxima/direct/bulk/AbstractFileFormatTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudClientTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudFileSystemTest.java
  direct/io-gcloud-storage/src/test/java/cz/o2/proxima/direct/gcloud/storage/GCloudStorageAccessorTest.java
  direct/io-http/src/test/java/cz/o2/proxima/direct/http/SerializableTest.java
  direct/io-http/src/test/java/cz/o2/proxima/direct/http/opentsdb/OpenTsdbConnectionFactoryTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/serializer/ValueAsBytesSerializerTest.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubReaderTest.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubStorageTest.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubWriterTest.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3AccessorTest.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionIT_Large.java
  io/io-pubsub/src/test/java/cz/o2/proxima/io/pubsub/util/PubSubUtilsTest.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyTest.java
Labels: direct, direct-io, beam, beam-io, core, beam-core, direct-core

#620 [proxima-direct-io-kafka] O2-Czech-Republic#251 fix deadlock when first poll throws exception
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-io

#621 [proxima-direct-io-pubsub] fix sonar reported bug
  direct/io-pubsub/src/main/java/cz/o2/proxima/direct/pubsub/PubSubWriter.java
Labels: direct, direct-io
