Repository datadrivencz/proxima-platform, pull requests merged in 2021-03, with the labels that each got.

#499 [proxima-direct-io-kafka] #195 implement topicPattern for kafka URI
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectDataAccessorFactory.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/CommitLogReadTest.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/ElementConsumers.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaConsumerFactory.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaStorage.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/PartitionWithTopic.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/TopicOffset.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/Utils.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/ConsumerGroup.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaAccessorTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaLogReaderIT.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/TopicOffsetTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/serializer/ValueAsBytesSerializerTest.java
Labels: beam, beam-core, direct, direct-io

#501 [io-kafka] Properly distinguish betweeon Exception and Error.
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/AbstractRetryableLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/LogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/RetryableLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/LogObserverTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/RetryableLogObserverTest.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-core, direct-io

#496 Introduce partitioned in-mem commit log.
  core/src/main/java/cz/o2/proxima/storage/Partition.java
  core/src/main/java/cz/o2/proxima/storage/commitlog/Partitioners.java
  core/src/test/java/cz/o2/proxima/storage/commitlog/PartitionersTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
Labels: core, direct, direct-core

#504 [proxima-beam-tools] #204 fix propagation of exception in pipeline
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamTest.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyEnvTest.java
Labels: beam, tools

#505 Shade old gson
  beam/io-pubsub/pom.xml
  direct/io-gcloud-storage/pom.xml
  direct/io-pubsub/pom.xml
Labels: beam, beam-io, direct, direct-io

#506 [proxima-direct-core] fix RetryableLogObserver contract
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/RetryableLogObserver.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/RetryableLogObserverTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-core

#507 Revert "[proxima-direct-core] fix RetryableLogObserver contract"
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/RetryableLogObserver.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/RetryableLogObserverTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-core, direct-io

#509 [proxima-beam-tools] check Pipeline state after finishing
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
Labels: beam

#508 [proxima-direct-core] Remove RetryableLogObserver public API
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/LogObservers.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/RetryableLogObserver.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/RetryableLogObserverTest.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/TransformationObserver.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-core, direct-io

#512 Return bigtable to jdk11 profile
  direct/pom.xml
Labels: beam, beam-core, beam-io, core, direct, direct-core, direct-io

#513 [proxima-core] Refactor Attribute schema API to be more clean and simple to use.
  core/src/main/java/cz/o2/proxima/scheme/BytesSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/FloatSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/IntSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/LongSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/SchemaDescriptors.java
  core/src/main/java/cz/o2/proxima/scheme/StringUtf8Serializer.java
  core/src/test/java/cz/o2/proxima/repository/AttributeFamilyDescriptorTest.java
  core/src/test/java/cz/o2/proxima/scheme/AlwaysFailSchemeParser.java
  core/src/test/java/cz/o2/proxima/scheme/BytesSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/FloatSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/SchemaDescriptorsTest.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/utils/ProtoUtils.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/utils/ProtoUtilsTest.java
  scheme/proto/src/test/proto/scheme.proto
Labels: core, scheme

#515 Refactored attribute value accessors
  core/src/main/java/cz/o2/proxima/functional/UnaryFunction.java
  core/src/main/java/cz/o2/proxima/scheme/AttributeValueAccessor.java
  core/src/main/java/cz/o2/proxima/scheme/AttributeValueAccessors.java
  core/src/main/java/cz/o2/proxima/scheme/BytesSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/ValueSerializer.java
  core/src/test/java/cz/o2/proxima/scheme/AttributeValueAccessorsTest.java
  core/src/test/java/cz/o2/proxima/scheme/BytesSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/ValueSerializerTest.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoMessageValueAccessor.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoMessageValueAccessorTest.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactoryTest.java
Labels: core, scheme

#518 Make toString on Blobs consistent
  direct/io-blob/src/main/java/cz/o2/proxima/direct/blob/BlobPath.java
  direct/io-gcloud-storage/src/main/java/cz/o2/proxima/direct/gcloud/storage/GCloudBlobPath.java
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3BlobPath.java
Labels: direct, direct-io

#521 [proxima-direct-bulkfs] fix sonar reported security hotspot
  .travis.yml
  direct/io-bulkfs/src/main/java/cz/o2/proxima/direct/bulk/DefaultNamingConvention.java
Labels: direct, direct-io

#514 [proxima-core] #202 first draft of transactional attributes
  core/src/main/java/cz/o2/proxima/repository/AttributeDescriptor.java
  core/src/main/java/cz/o2/proxima/repository/AttributeDescriptorBase.java
  core/src/main/java/cz/o2/proxima/repository/AttributeDescriptorImpl.java
  core/src/main/java/cz/o2/proxima/repository/ConfigConstants.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptor.java
  core/src/main/java/cz/o2/proxima/repository/EntityDescriptor.java
  core/src/main/java/cz/o2/proxima/repository/Repository.java
  core/src/main/java/cz/o2/proxima/repository/TransactionMode.java
  core/src/main/java/cz/o2/proxima/scheme/JavaSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/ValueSerializerFactory.java
  core/src/main/java/cz/o2/proxima/storage/AccessType.java
  core/src/main/java/cz/o2/proxima/transaction/Request.java
  core/src/main/java/cz/o2/proxima/transaction/Response.java
  core/src/main/java/cz/o2/proxima/transaction/State.java
  core/src/main/java/cz/o2/proxima/transaction/TransactionSerializerSchemeProvider.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/resources/test-transactions.conf
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/LogObserverUtils.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLogTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionsTest.java
  pom.xml
Labels: core, direct, direct-core

#516 #202 add proto transaction serializer
  scheme/pom.xml
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/main/proto/transactions.proto
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactoryTest.java
  scheme/proto/src/test/resources/test-transactions-proto.conf
Labels: core, direct, direct-core, scheme
