Repository datadrivencz/proxima-platform, pull requests merged in 2021-12, with the labels that each got.

#642 Fix rebalanceinprogressexception handling
  direct/io-kafka/pom.xml
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  pom.xml
Labels: direct, direct-io

#643 [proxima-direct-io-kafka] exclude IT dependencies from test-jar
  direct/io-kafka/pom.xml
Labels: direct, direct-io

#644 [proxima-direct-io-kafka] fix io-kafka snapshot deployment
  direct/io-kafka/pom.xml
Labels: direct, direct-io

#645 [proxima-scheme-proto] ProtoMessageValueAccessor should returns defau…
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoMessageValueAccessor.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoMessageValueAccessorTest.java
Labels: scheme

#646 [proxima-flink] Bump flink version to 1.13.5
  flink/pom.xml
Labels: flink
