Repository datadrivencz/proxima-platform, pull requests merged in 2021-02, with the labels that each got.

#483 Feature #184
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BatchLogRead.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BatchRestrictionTracker.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/CommitLogRead.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchSource.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectDataAccessorWrapper.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/SDFUtils.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BatchLogReadTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/CommitLogReadTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListBatchReader.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListBatchReaderTest.java
Labels: beam, beam-core, direct, direct-core

#489 Allow access to AttributeFamily in DataAccessor
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
  core/src/main/java/cz/o2/proxima/storage/internal/AbstractDataAccessorFactory.java
  core/src/test/java/cz/o2/proxima/storage/internal/AbstractDataAccessorFactoryTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  pom.xml
Labels: beam, beam-core, core, direct, direct-core

#490 Fix beam-tools for java 15.
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
Labels: beam

#491 [proxima-tools] fix Closure class collection
  tools/src/main/groovy/cz/o2/proxima/tools/groovy/internal/ClassloaderUtils.groovy
  tools/src/main/groovy/cz/o2/proxima/tools/groovy/internal/ProximaInterpreter.groovy
  tools/src/main/java/cz/o2/proxima/tools/groovy/Console.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/ToolsClassLoader.java
  tools/src/test/groovy/cz/o2/proxima/tools/groovy/internal/ProximaInterpreterTest.groovy
  tools/src/test/java/cz/o2/proxima/tools/groovy/ConsoleTest.java
Labels: tools

#488 Feature #190
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BatchLogRead.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BatchRestrictionTracker.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/CommitLogRead.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectDataAccessorWrapper.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/OffsetRestrictionTracker.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BatchLogReadTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/CommitLogReadTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogReader.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogReaders.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectAttributeFamilyProxyDescriptor.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLog.java
  direct/io-http/src/main/java/cz/o2/proxima/direct/http/WebsocketReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-pubsub/src/main/java/cz/o2/proxima/direct/pubsub/PubSubReader.java
Labels: beam, beam-core, direct, direct-core, direct-io

#493 Check attribute names in entity for possible duplicates with wildcards
  core/pom.xml
  core/src/main/java/cz/o2/proxima/repository/EntityDescriptor.java
  core/src/test/java/cz/o2/proxima/repository/EntityDescriptorBuilderTest.java
Labels: core

#497 [proxima-beam-core] #197 use unnamed consumer in not named explicitly
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/CommitLogRead.java
Labels: beam, beam-core

#498 Get rid of application.conf from source code
  beam/core-testing/pom.xml
  beam/core-testing/src/main/java/cz/o2/proxima/beam/ReadMe.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/IngestServiceTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/RetrieveServiceTest.java
  direct/ingest-server/src/test/resources/test-ingest-server.conf
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubStorageTest.java
  direct/io-pubsub/src/test/resources/test-pubsub.conf
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/JsonProtoSerializerFactoryTest.java
  scheme/proto/src/test/resources/test-proto.conf
Labels: beam, direct, direct-io, scheme
