Repository datadrivencz/proxima-platform, pull requests merged in 2021-06, with the labels that each got.

#552 fix: Parquet file format fails with hadoop storage
  direct/io-hadoop/src/main/java/cz/o2/proxima/direct/hadoop/HadoopDataAccessor.java
  direct/io-hadoop/src/main/java/cz/o2/proxima/direct/hadoop/HadoopStorage.java
  direct/io-hadoop/src/test/java/cz/o2/proxima/direct/hadoop/HadoopPathTest.java
  direct/io-hadoop/src/test/java/cz/o2/proxima/direct/hadoop/HadoopStorageTest.java
Labels: direct, direct-io

#555 [flink-core] Fixes after deployment of new flink-based sources.
  flink/core/pom.xml
  flink/core/src/main/java/cz/o2/proxima/flink/core/BatchLogSourceFunction.java
  flink/core/src/main/java/cz/o2/proxima/flink/core/CommitLogSourceFunction.java
  flink/core/src/main/java/cz/o2/proxima/flink/core/ResultExtractor.java
  flink/core/src/test/java/cz/o2/proxima/flink/core/BatchLogSourceFunctionTest.java
  flink/core/src/test/java/cz/o2/proxima/flink/core/CommitLogSourceFunctionTest.java
  flink/core/src/test/java/cz/o2/proxima/flink/core/ResultExtractorTest.java
  pom.xml
Labels: direct, direct-io, flink, flink-core

#548 [direct-core] CommitLog and BatchLog observer unification.
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BatchLogRead.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamBatchLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserver.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/CommitLogRead.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectUnboundedSource.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BlockingQueueLogObserverTest.java
  direct/core-testing/src/main/java/cz/o2/proxima/direct/ReadMe.java
  direct/core/src/main/java/cz/o2/proxima/direct/LogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/batch/BatchLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogReader.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogReaders.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/LogObservers.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/ObserverUtils.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/RetryableLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectAttributeFamilyProxyDescriptor.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/ServerTransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogObserverTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogObserversTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReadersTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/LogObserverUtils.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/RetryableLogObserverTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLog.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLogTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionalCachedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/replication/SingleTopicMultipleReplicationsTest.java
  direct/core/src/test/java/cz/o2/proxima/util/ReplicationRunner.java
  direct/core/src/test/java/cz/o2/proxima/util/TransformationRunner.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/TransformationObserver.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/io-http/src/main/java/cz/o2/proxima/direct/http/WebsocketReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/ElementConsumer.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/ElementConsumers.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaLogReaderIT.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/io-pubsub/src/main/java/cz/o2/proxima/direct/pubsub/PubSubReader.java
  direct/io-pubsub/src/test/java/cz/o2/proxima/direct/pubsub/PubSubReaderTest.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverFactory.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionManagerServer.java
  example/model/src/test/java/cz/o2/proxima/example/model/ModelTest.java
  flink/core/src/main/java/cz/o2/proxima/flink/core/CommitLogSourceFunction.java
Labels: beam, beam-core, direct, direct-core

#556 [flink-core] Unify CommitLog and BatchLog source function.
  flink/core/src/main/java/cz/o2/proxima/flink/core/AbstractLogSourceFunction.java
  flink/core/src/main/java/cz/o2/proxima/flink/core/AbstractSourceLogObserver.java
  flink/core/src/main/java/cz/o2/proxima/flink/core/BatchLogSourceFunction.java
  flink/core/src/main/java/cz/o2/proxima/flink/core/CommitLogSourceFunction.java
  flink/core/src/test/java/cz/o2/proxima/flink/core/BatchLogSourceFunctionTest.java
Labels: flink, flink-core

#559 Fix cache usage in proto schema extraction to avoid Recursive update
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/utils/ProtoUtils.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoMessageValueAccessorTest.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/utils/ProtoUtilsTest.java
  scheme/proto/src/test/proto/scheme.proto
Labels: scheme

#558 [proxima-direct-core] O2-Czech-Republic#221 TTL for LocalCachedPartitionedView
  direct/core/src/main/java/cz/o2/proxima/direct/view/CachedView.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/TimeBoundedVersionedCache.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/LocalCachedPartitionedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/TimeBoundedVersionedCacheTest.java
Labels: direct, direct-core

#561 [proxima-direct-core] rename LogObservers to CommitLogObservers
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogObservers.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/RetryableLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogObserversTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/RetryableLogObserverTest.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/TransformationObserver.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionManagerServer.java
Labels: direct, direct-core, direct-io

#564 fix: Limits throughput when reading from kafka
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaThroughputLimiter.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaThroughputLimiterTest.java
Labels: direct, direct-io

#549 O2-Czech-Republic#208 ingest server rpc transaction support
  core/src/main/java/cz/o2/proxima/repository/ConfigConstants.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/transaction/KeyAttributes.java
  core/src/main/java/cz/o2/proxima/transaction/Request.java
  core/src/main/java/cz/o2/proxima/transaction/Response.java
  core/src/main/java/cz/o2/proxima/transaction/TransactionPartitioner.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/java/cz/o2/proxima/transaction/TransactionPartitionerTest.java
  core/src/test/resources/test-transactions.conf
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/ClientTransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/ServerTransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriter.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionResourceManagerTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionalCachedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriterTest.java
  direct/ingest-server/pom.xml
  direct/ingest-server/src/main/java/cz/o2/proxima/server/IngestServer.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/IngestService.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/RetrieveService.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/transaction/TransactionContext.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/IngestServiceTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/RetrieveServiceTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/TransactionsTest.java
  direct/ingest-server/src/test/resources/test-ingest-server.conf
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/rpc/src/main/proto/rpc.proto
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverFactory.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionManagerServer.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionIT.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverTest.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/main/proto/transactions.proto
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactoryTest.java
Labels: core, direct, direct-core, direct-io

#569 [proxima] rebuild only changed modules on PRs
  .github/mvn-build-changed-modules.sh
  .travis.yml
  README.md
Labels: infra, scheme

#570 [proxima] add parent module to sonar analysis
  .github/mvn-build-changed-modules.sh
  .travis.yml
Labels: infra

#571 [proxima] test PR building
  .github/mvn-build-changed-modules.sh
  core/src/test/resources/test-transactions.conf
Labels: core, infra

#565 [proxima-direct] O2-Czech-Republic#225 add CommitLogReader#fetchOffsets
  .github/mvn-build-changed-modules.sh
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogReader.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/ObserveHandleUtils.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLog.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/ElementConsumers.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/TopicOffset.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaLogReaderIT.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-core, direct-io, infra
