Repository datadrivencz/proxima-platform, pull requests merged in 2021-05, with the labels that each got.

#527 #206 sequential ID
  beam/core/src/main/java/cz/o2/proxima/beam/core/io/StreamElementCoder.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/io/StreamElementCoderTest.java
  core/src/main/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptor.java
  core/src/main/java/cz/o2/proxima/storage/StreamElement.java
  core/src/test/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptorTest.java
  core/src/test/java/cz/o2/proxima/storage/StreamElementTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogReader.java
  direct/core/src/main/java/cz/o2/proxima/direct/randomaccess/KeyValue.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/TimeBoundedVersionedCache.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReadersTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/LocalCachedPartitionedViewTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/TimeBoundedVersionedCacheTest.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/ElementSerializer.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaStreamElement.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaWriter.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/serializer/ValueAsBytesSerializer.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaLogReaderIT.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaStreamElementSerializerTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptor.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/serializer/ValueAsBytesSerializerTest.java
Labels: beam, beam-core, core, direct, direct-core, direct-io

#536 O2-Czech-Republic#211 implement HBase storage v2 using sequentialId
  direct/core/src/main/java/cz/o2/proxima/direct/randomaccess/KeyValue.java
  direct/core/src/main/java/cz/o2/proxima/direct/randomaccess/RandomAccessReader.java
  direct/core/src/test/java/cz/o2/proxima/direct/randomaccess/KeyValueTest.java
  direct/io-bigtable/src/main/java/cz/o2/proxima/direct/bigtable/BigTableStorage.java
  direct/io-hbase-bindings/pom.xml
  direct/io-hbase-bindings/src/main/java/cz/o2/proxima/direct/hbase/HBaseDataAccessor.java
  direct/io-hbase-bindings/src/main/java/cz/o2/proxima/direct/hbase/HBaseLogReader.java
  direct/io-hbase-bindings/src/main/java/cz/o2/proxima/direct/hbase/HBaseWriter.java
  direct/io-hbase-bindings/src/main/java/cz/o2/proxima/direct/hbase/InternalSerializer.java
  direct/io-hbase-bindings/src/main/java/cz/o2/proxima/direct/hbase/InternalSerializers.java
  direct/io-hbase-bindings/src/main/java/cz/o2/proxima/direct/hbase/RandomHBaseReader.java
  direct/io-hbase-bindings/src/main/proto/v2_serializer.proto
  direct/io-hbase-bindings/src/test/java/cz/o2/proxima/direct/hbase/HBaseWriterTest.java
Labels: direct, direct-core, direct-io

#538 [proxima-direct-io-hbase-bindings] fix shading of protobuf-java
  direct/io-hbase-bindings/pom.xml
Labels: direct, direct-io

#539 [proxima-direct-ingest-server] fix typo
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
Labels: direct

#535 O2-Czech-Republic#199 direct operator transaction manager
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptor.java
  core/src/main/java/cz/o2/proxima/repository/TransactionMode.java
  core/src/main/java/cz/o2/proxima/scheme/DoubleSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/FloatSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/ValueSerializer.java
  core/src/main/java/cz/o2/proxima/transaction/KeyAttribute.java
  core/src/main/java/cz/o2/proxima/transaction/KeyAttributes.java
  core/src/main/java/cz/o2/proxima/transaction/Request.java
  core/src/main/java/cz/o2/proxima/transaction/Response.java
  core/src/main/java/cz/o2/proxima/transaction/State.java
  core/src/main/java/cz/o2/proxima/util/ExceptionUtils.java
  core/src/main/resources/META-INF/services/cz.o2.proxima.scheme.ValueSerializerFactory
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/java/cz/o2/proxima/scheme/DoubleSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/RepositoryInitializedValueSerializer.java
  core/src/test/java/cz/o2/proxima/transaction/KeyAttributeTest.java
  core/src/test/java/cz/o2/proxima/transaction/StateTest.java
  core/src/test/java/cz/o2/proxima/util/ExceptionUtilsTest.java
  core/src/test/resources/META-INF/services/cz.o2.proxima.scheme.ValueSerializerFactory
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/LogObservers.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/CommitCallback.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/OnlineAttributeWriters.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/ClientTransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/ServerTransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/CachedView.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/LogObserversTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/CommitCallbackTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/OnlineAttributeWritersTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionResourceManagerTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionsTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/LocalCachedPartitionedViewTest.java
  direct/pom.xml
  direct/transaction-manager/license-header-spotless.txt
  direct/transaction-manager/license-header.txt
  direct/transaction-manager/pom.xml
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverFactory.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionManagerServer.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionIT.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverTest.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionManagerServerTest.java
  direct/transaction-manager/src/test/resources/application.conf
  direct/transaction-manager/src/test/resources/log4j.properties
  direct/transaction-manager/src/test/resources/transactions-it.conf
  pom.xml
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/main/proto/transactions.proto
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactoryTest.java
Labels: beam, beam-core, core, direct, direct-core

#541 O2-Czech-Republic#212 Externalize offsets to JSON and bytes
  direct/core/pom.xml
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/CommitLogReader.java
  direct/core/src/main/java/cz/o2/proxima/direct/commitlog/OffsetExternalizer.java
  direct/core/src/test/java/cz/o2/proxima/direct/commitlog/CommitLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLog.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLogTest.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaLogReader.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/TopicOffsetExternalizer.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/TopicOffsetExternalizerTest.java
Labels: direct, direct-core, direct-io

#530 Inmem Storage: Observe single partition from multiple partitions.
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorageTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/view/LocalCachedPartitionedViewTest.java
Labels: direct, direct-core

#542 [proxima-direct-core] #200 introduce TransactionalOnlineAttributeWriter
  direct/core/src/main/java/cz/o2/proxima/direct/core/AbstractOnlineAttributeWriter.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/OnlineAttributeWriter.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriter.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriterTest.java
Labels: direct, direct-core

#543 [proxima-direct-transcation-manager] #214 support explicit ROLLBACK
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriter.java
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionIT.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverTest.java
Labels: direct, direct-core

#494 [flink-core] Introduce CommitLogSourceFunction.
  .github/autolabeler.yml
  flink/core/license-header-spotless.txt
  flink/core/license-header.txt
  flink/core/pom.xml
  flink/core/src/main/java/cz/o2/proxima/flink/core/CommitLogSourceFunction.java
  flink/core/src/test/java/cz/o2/proxima/flink/core/CommitLogSourceFunctionTest.java
  flink/core/src/test/java/cz/o2/proxima/flink/core/TestSourceContext.java
  flink/license-header-spotless.txt
  flink/license-header.txt
  flink/pom.xml
  io/io-pubsub/pom.xml
  pom.xml
Labels: core, direct, direct-core, infra, legal, scheme

#545 [direct-core] Fix DirectDataOperator#getBatchLogReader
  beam/core-testing/src/test/java/cz/o2/proxima/beam/storage/TestStreamStorageTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/JoinProxyTransformTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
  core/src/test/resources/test-reference.conf
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectAttributeFamilyDescriptor.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/test/java/cz/o2/proxima/direct/batch/BatchLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/util/ReplicationRunner.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
Labels: beam, beam-core, core, direct, direct-core

#550 [direct-core] Introduce offsets on BatchLogReader.
  direct/core/src/main/java/cz/o2/proxima/direct/batch/BatchLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/batch/BatchLogObservers.java
  direct/core/src/main/java/cz/o2/proxima/direct/batch/BatchLogReader.java
  direct/core/src/main/java/cz/o2/proxima/direct/batch/Offset.java
  direct/core/src/test/java/cz/o2/proxima/direct/batch/BatchLogObserversTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/batch/BatchLogReaderTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/batch/OffsetTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListBatchReader.java
  direct/io-blob/src/main/java/cz/o2/proxima/direct/blob/BlobLogReader.java
  direct/io-hadoop/src/main/java/cz/o2/proxima/direct/hadoop/HadoopBatchLogReader.java
  lombok.config
Labels: direct, direct-core, direct-io

#544 O2-Czech-Republic#213 eventually consistent transaction multioutputs
  core/src/main/java/cz/o2/proxima/repository/ConfigConstants.java
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptor.java
  core/src/main/java/cz/o2/proxima/repository/TransformationDescriptor.java
  core/src/main/java/cz/o2/proxima/scheme/JavaSerializer.java
  core/src/main/java/cz/o2/proxima/transaction/Commit.java
  core/src/main/java/cz/o2/proxima/transaction/Response.java
  core/src/main/java/cz/o2/proxima/transaction/State.java
  core/src/main/java/cz/o2/proxima/transaction/TransactionCommitTransformation.java
  core/src/main/java/cz/o2/proxima/transaction/TransactionSerializerSchemeProvider.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
  core/src/test/java/cz/o2/proxima/repository/EntityAwareAttributeDescriptorTest.java
  core/src/test/java/cz/o2/proxima/transaction/CommitTest.java
  core/src/test/java/cz/o2/proxima/transaction/KeyAttributeTest.java
  core/src/test/java/cz/o2/proxima/transaction/StateTest.java
  core/src/test/java/cz/o2/proxima/transaction/TransactionCommitTransformationTest.java
  core/src/test/resources/test-transactions.conf
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionResourceManager.java
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriter.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionResourceManagerTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriterTest.java
  direct/core/src/test/java/cz/o2/proxima/util/TransformationRunner.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/IngestServer.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/ReplicationController.java
  direct/ingest-server/src/main/java/cz/o2/proxima/server/TransformationObserver.java
  direct/ingest-server/src/test/java/cz/o2/proxima/server/ReplicationControllerTest.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionIT.java
  direct/transaction-manager/src/test/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserverTest.java
  maven/src/main/resources/java-source.ftlh
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/main/proto/transactions.proto
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactoryTest.java
Labels: core, direct, direct-core, scheme
