Repository datadrivencz/proxima-platform, pull requests merged in 2021-01, with the labels that each got.

#472 Fix beam 2.25.0
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReader.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSource.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/DirectUnboundedSource.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/BeamDataOperatorTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/BeamCommitLogReaderTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectBatchUnboundedSourceTest.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/DirectUnboundedSourceTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/DirectDataOperator.java
  direct/core/src/test/java/cz/o2/proxima/direct/core/DirectDataOperatorTest.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/InMemStorage.java
  pom.xml
Labels: beam, beam-core, direct, direct-core

#475 [proxima] log on ERROR level on travis
  beam/core/src/test/resources/log4j.properties
  beam/tools/pom.xml
  beam/tools/src/test/resources/log4j.properties
  core/src/test/resources/log4j.properties
  direct/core/src/test/resources/log4j.properties
  direct/ingest-client/src/test/resources/log4j.properties
  direct/ingest-server/src/test/resources/log4j.properties
  direct/io-blob/src/test/resources/log4j.properties
  direct/io-bulkfs/src/test/resources/log4j.properties
  direct/io-cassandra/src/test/resources/log4j.properties
  direct/io-gcloud-storage/src/test/resources/log4j.properties
  direct/io-hadoop/src/test/resources/log4j.properties
  direct/io-hbase-bindings/src/test/resources/log4j.properties
  direct/io-http/src/test/resources/log4j.properties
  direct/io-kafka/src/test/resources/log4j.properties
  direct/io-pubsub/src/test/resources/log4j.properties
  pom.xml
  scheme/avro/src/test/resources/log4j.properties
  scheme/confluent/src/test/resources/log4j.properties
  scheme/proto/src/test/resources/log4j.properties
  tools/src/test/resources/log4j.properties
  utils-zookeeper/src/test/resources/log4j.properties
Labels: beam, beam-core, core, direct, direct-core, direct-io, scheme, tools

#477 [proxima-core] Prevent typos in attribute definition.
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/storage/internal/AbstractDataAccessorFactory.java
  core/src/test/java/cz/o2/proxima/repository/ConfigRepositoryTest.java
Labels: core

#474 [proxima-beam-tools] fix early emitting duration extraction
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
Labels: beam

#478 [proxima-direct-io-kafka] enlarge timeout for timeouting test
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/LocalKafkaCommitLogDescriptorTest.java
Labels: direct, direct-io

#479 [proxima-tools] fix job submission
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProvider.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/Console.java
Labels: beam, tools

#480 180 finalize implementation
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/CommitLogRead.java
  beam/core/src/main/java/cz/o2/proxima/beam/direct/io/OffsetRestrictionTracker.java
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/CommitLogReadTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/time/WatermarkConfiguration.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLog.java
  direct/core/src/test/java/cz/o2/proxima/direct/storage/ListCommitLogTest.java
  pom.xml
Labels: beam, beam-core, direct, direct-core

#481 [proxima-beam-core] #180 stabilize test
  beam/core/src/test/java/cz/o2/proxima/beam/direct/io/CommitLogReadTest.java
Labels: beam, beam-core

#482 Introduce attribute value schema inspection API.
  core/src/main/java/cz/o2/proxima/repository/AttributeDescriptor.java
  core/src/main/java/cz/o2/proxima/scheme/AttributeValueType.java
  core/src/main/java/cz/o2/proxima/scheme/BytesSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/FloatSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/IntSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/LongSerializer.java
  core/src/main/java/cz/o2/proxima/scheme/SchemaDescriptors.java
  core/src/main/java/cz/o2/proxima/scheme/StringUtf8Serializer.java
  core/src/main/java/cz/o2/proxima/scheme/ValueSerializer.java
  core/src/test/java/cz/o2/proxima/repository/AttributeFamilyDescriptorTest.java
  core/src/test/java/cz/o2/proxima/scheme/BytesSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/FloatSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/IntSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/LongSerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/SchemaDescriptorsTest.java
  core/src/test/java/cz/o2/proxima/scheme/StringUtf8SerializerTest.java
  core/src/test/java/cz/o2/proxima/scheme/ValueSerializerTest.java
  scheme/avro/src/main/java/cz/o2/proxima/scheme/avro/AvroSerializerFactory.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactory.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/utils/ProtoUtils.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoSerializerFactoryTest.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/utils/ProtoUtilsTest.java
  scheme/proto/src/test/proto/scheme.proto
Labels: core, scheme

#484 [proxima-maven-compiler] fix bug reported by Sonar
  maven/src/main/java/cz/o2/proxima/generator/ModelGenerator.java
Labels: maven
