Repository datadrivencz/proxima-platform, pull requests merged in 2022-04, with the labels that each got.

#683 [proxima-direct-core] O2-Czech-Republic#269 add TransactionValidator
  core/src/test/resources/test-transactions.conf
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriter.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionUniqueConstraintValidator.java
  direct/core/src/test/java/cz/o2/proxima/direct/transaction/TransactionValidatorTest.java
  direct/core/src/test/resources/test-validator.conf
Labels: direct, core, direct-core

#684 [proxima-transaction-manager] take input with max sequenceId as input
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
Labels: direct

#687 [proxima-direct-io-kafka] remove duplicate confirm check
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/OffsetCommitter.java
Labels: direct, direct-io

#689 [proxima] shade org.apache.commons. in relevant modules
  direct/io-bulkfs-parquet/pom.xml
  direct/io-cassandra/pom.xml
  direct/io-hbase/pom.xml
  direct/io-hdfs/pom.xml
  direct/io-pubsub/pom.xml
  direct/io-s3/pom.xml
  utils-zookeeper/pom.xml
Labels: direct, direct-io

#688 [proxima-direct-core] O2-Czech-Republic#271 handle TransactionRejectedRuntimeException in Contextual transforms
  direct/core/src/main/java/cz/o2/proxima/direct/transaction/TransactionalOnlineAttributeWriter.java
  direct/core/src/main/java/cz/o2/proxima/direct/transform/TransformationObserver.java
  direct/core/src/test/java/cz/o2/proxima/direct/transform/TransformationObserverTest.java
Labels: direct, direct-core

#690 [proxima] fix jackson dependabot alerts
  beam/pom.xml
  direct/core/pom.xml
  direct/io-kafka/pom.xml
Labels: direct, direct-io, beam, direct-core

#686 proxima-direct-io-elasticsearch
  direct/io-elasticsearch/license-header-spotless.txt
  direct/io-elasticsearch/license-header.txt
  direct/io-elasticsearch/pom.xml
  direct/io-elasticsearch/src/main/java/cz/o2/proxima/direct/elasticsearch/DocumentFormatter.java
  direct/io-elasticsearch/src/main/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchAccessor.java
  direct/io-elasticsearch/src/main/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchClients.java
  direct/io-elasticsearch/src/main/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchStorage.java
  direct/io-elasticsearch/src/main/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchWriter.java
  direct/io-elasticsearch/src/test/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchAccessorTest.java
  direct/io-elasticsearch/src/test/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchClientsTest.java
  direct/io-elasticsearch/src/test/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchStorageTest.java
  direct/io-elasticsearch/src/test/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchWriterTest.java
  direct/io-elasticsearch/src/test/resources/log4j2.properties
  direct/io-elasticsearch/src/test/resources/test-es.conf
  direct/pom.xml
  pom.xml
Labels: direct, direct-io, legal

#694 [proxima-direct-io-elasticsearch] fix ElasticSearchWriter serializability contract
  direct/io-elasticsearch/src/main/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchWriter.java
  direct/io-elasticsearch/src/test/java/cz/o2/proxima/direct/elasticsearch/ElasticsearchWriterTest.java
Labels: direct, direct-io

#696 [proxima-direct-io-bulkfs-parquet] use shade 3.2.4
  direct/io-bulkfs-parquet/pom.xml
Labels: direct, direct-io, infra

#697 Bump jackson to 2.12.6.1
  beam/pom.xml
  direct/core/pom.xml
  direct/io-kafka/pom.xml
  pom.xml
Labels: direct, direct-io, beam, direct-core
