Repository datadrivencz/proxima-platform, pull requests merged in 2022-02, with the labels that each got.

#665 [proxima-tools] bump groovy to 4.0.0
  pom.xml
  tools/pom.xml
  tools/src/main/groovy/cz/o2/proxima/tools/groovy/internal/ClassloaderUtils.groovy
  tools/src/main/groovy/cz/o2/proxima/tools/groovy/internal/ProximaInterpreter.groovy
  tools/src/main/java/cz/o2/proxima/tools/groovy/Console.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/util/TypesTest.java
Labels: tools

#666 [io-kafka] Allow to specify ack and batch size for kafka producer
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaWriter.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/kafka/KafkaAccessorTest.java
Labels: direct, direct-io

#668 [proxima-direct-io-bigtable] shade gson
  direct/io-bigtable/pom.xml
Labels: direct, direct-io

#662 Bump log4j-over-slf4j to 1.7.33
  beam/tools/pom.xml
  direct/io-bigtable/pom.xml
  direct/io-bulkfs-parquet/pom.xml
  direct/io-hbase-bindings/pom.xml
  direct/io-hbase/pom.xml
  direct/io-hdfs/pom.xml
  pom.xml
Labels: direct, direct-io, beam

#669 [proxima-tools] O2-Czech-Republic#264 add additional @Grab'd jars to runners
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProvider.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamProviderTest.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/Console.java
  tools/src/main/java/cz/o2/proxima/tools/groovy/ToolsClassLoader.java
  tools/src/test/java/cz/o2/proxima/tools/groovy/GroovyEnvTest.java
Labels: beam, tools

#670 [io-cassandra] Use username in cached cluster instances
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
Labels: direct, direct-io

#671 [proxima-direct-io-kafka] polish usage and using of timestamp-skew
  core/src/main/java/cz/o2/proxima/repository/ConfigRepository.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaAccessor.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/kafka/KafkaWatermarkConfiguration.java
Labels: direct, direct-io, core

#672 Bump python proto dependencies
  example/pyclient/README.md
  example/pyclient/requirements.txt
  pom.xml
  tools/src/main/groovy/cz/o2/proxima/tools/groovy/internal/ProximaInterpreter.groovy
Labels: example, tools

#675 [proxima-beam] bump beam version to 2.36.0
  beam/pom.xml
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamGroovyEnvTest.java
  pom.xml
Labels: beam

#676 [proxima-beam] bump scala to 2.12, fix O2-Czech-Republic#267
  beam/pom.xml
  beam/tools/pom.xml
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamGroovyEnvTest.java
Labels: beam

#677 [flink-core] Bump flink version to 1.13.6
  flink/pom.xml
Labels: flink

#678 [proxima-direct-core] synchronize reassign in LocalCachedPartitionedView
  direct/core/src/main/java/cz/o2/proxima/direct/view/LocalCachedPartitionedView.java
Labels: direct, direct-core

#679 [proxima-direct-io-pubsub] exclude multi-release classes and unneeded dependencies
  beam/io-pubsub/pom.xml
Labels: example, direct, direct-io, beam, beam-io, core, beam-core, direct-core
