Repository datadrivencz/proxima-platform, pull requests merged in 2022-01, with the labels that each got.

#650 [proxima-direct-io-hbase-bindings] exclude log4j12 from hadoop
  beam/tools/pom.xml
  direct/io-hbase-bindings/pom.xml
Labels: direct, direct-io, beam

#652 [proxima-scheme-proto]: Protobufs wrappers mapped as scalar types
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/ProtoMessageValueAccessor.java
  scheme/proto/src/main/java/cz/o2/proxima/scheme/proto/utils/ProtoUtils.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/ProtoMessageValueAccessorTest.java
  scheme/proto/src/test/java/cz/o2/proxima/scheme/proto/utils/ProtoUtilsTest.java
  scheme/proto/src/test/proto/scheme.proto
Labels: scheme

#655 [io-hbase-bindings] O2-Czech-Republic#260 fix NoClassDefFoundError in log4j
  beam/tools/pom.xml
  direct/io-bigtable/pom.xml
  direct/io-bigtable/src/test/java/cz/o2/proxima/direct/bigtable/BigTableStorageTest.java
  direct/io-bulkfs-parquet/pom.xml
  direct/io-hadoop/pom.xml
  direct/io-hbase-bindings/pom.xml
  direct/io-hbase/pom.xml
  direct/io-hdfs/pom.xml
  utils-zookeeper/pom.xml
Labels: direct, direct-io, beam

#659 [io-s3] Support for SSE-C server side encryption
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3BlobPath.java
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3Client.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3BlobPathTest.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3ClientTest.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3FileSystemTest.java
Labels: direct, direct-io

#660 [io-cassandra] Support for PlainTextAuthProvider
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessor.java
  direct/io-cassandra/src/test/java/cz/o2/proxima/direct/cassandra/CassandraDBAccessorTest.java
Labels: direct, direct-io

#661 [io-s3] Custom S3 endpoint need not be valid URI
  direct/io-s3/src/main/java/cz/o2/proxima/direct/s3/S3Client.java
  direct/io-s3/src/test/java/cz/o2/proxima/direct/s3/S3ClientTest.java
Labels: direct, direct-io
