Repository datadrivencz/proxima-platform, pull requests merged in 2023-08, with the labels that each got.

#815 [proxima-direct-core] [proxima-beam-core] O2-Czech-Republic#313 fix deadlock in BatchLogRead during shutdown
  beam/core/build.gradle
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
  beam/core/src/main/java/cz/o2/proxima/beam/core/direct/io/BlockingQueueLogObserver.java
  beam/core/src/test/java/cz/o2/proxima/beam/core/direct/io/BlockingQueueLogObserverTest.java
  beam/tools/src/test/java/cz/o2/proxima/beam/tools/groovy/BeamStreamTest.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/batch/BatchLogObserver.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/batch/TerminationContext.java
  direct/io-pubsub/module/src/main/java/cz/o2/proxima/direct/io/pubsub/PubSubReader.java
Labels: direct, direct-io, beam, beam-core, direct-core

#816 Working io jdbc
  beam/core/src/main/java/cz/o2/proxima/beam/core/BeamDataOperator.java
  beam/core/src/main/java/cz/o2/proxima/beam/core/direct/io/BatchLogRead.java
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
  direct/io-jdbc/build.gradle
  direct/io-jdbc/src/main/java/cz/o2/proxima/direct/jdbc/JdbcBatchLogReader.java
  direct/io-jdbc/src/main/java/cz/o2/proxima/direct/jdbc/JdbcDataAccessor.java
  direct/io-jdbc/src/main/java/cz/o2/proxima/direct/jdbc/RowAsJsonLogReaderStatementFactory.java
  direct/io-jdbc/src/main/java/cz/o2/proxima/direct/jdbc/SqlStatementFactory.java
  direct/io-jdbc/src/test/java/cz/o2/proxima/direct/jdbc/HsqldbSqlStatementFactory.java
  direct/io-jdbc/src/test/java/cz/o2/proxima/direct/jdbc/JdbcBaseTest.java
  direct/io-jdbc/src/test/java/cz/o2/proxima/direct/jdbc/JdbcBatchLogReaderTableAsJsonTest.java
Labels: direct, direct-io, beam, beam-core

#817 [proxima-tools] add more types to groovy generated source
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
  core/src/main/java/cz/o2/proxima/core/scheme/ValueSerializerFactory.java
  direct/io-jdbc/src/main/java/cz/o2/proxima/direct/jdbc/RowAsJsonConverter.java
  tools/src/main/resources/class-entitydesc.ftlh
Labels: direct, direct-io, beam, tools, core

#818 [proxima-direct-rpc-server] O2-Czech-Republic#315 implement scan in ingest server
  direct/ingest-server/src/main/java/cz/o2/proxima/direct/server/RetrieveService.java
  direct/ingest-server/src/test/java/cz/o2/proxima/direct/server/IngestServerTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/direct/server/IngestServiceTest.java
  direct/ingest-server/src/test/java/cz/o2/proxima/direct/server/RetrieveServiceTest.java
  direct/ingest-server/src/test/resources/test-ingest-server.conf
  direct/rpc/src/main/proto/rpc.proto
Labels: direct

#820 [proxima-direct-ingest-server] propagate exceptions from scan to client
  direct/ingest-server/src/main/java/cz/o2/proxima/direct/server/RetrieveService.java
  direct/ingest-server/src/test/java/cz/o2/proxima/direct/server/RetrieveServiceTest.java
Labels: direct

#822 [proxima-direct-ingest-server] use StatusRuntimeException in failed scan
  direct/ingest-server/src/main/java/cz/o2/proxima/direct/server/RetrieveService.java
  direct/ingest-server/src/test/java/cz/o2/proxima/direct/server/RetrieveServiceTest.java
Labels: direct

#823 [infra] JDK17 compatible spotless
  beam/core/src/main/java/cz/o2/proxima/beam/core/direct/io/OffsetRestrictionTracker.java
  buildSrc/build.gradle
  buildSrc/src/main/groovy/cz.o2.proxima.java-conventions.gradle
  core/src/main/java/cz/o2/proxima/core/functional/TimeProvider.java
  core/src/main/java/cz/o2/proxima/core/metrics/StatsMBean.java
  core/src/main/java/cz/o2/proxima/core/repository/ConfigRepository.java
  core/src/main/java/cz/o2/proxima/core/repository/EntityDescriptor.java
  core/src/main/java/cz/o2/proxima/core/repository/JPMSMain.java
  core/src/main/java/cz/o2/proxima/core/storage/AccessType.java
  core/src/main/java/cz/o2/proxima/core/storage/Partition.java
  core/src/main/java/cz/o2/proxima/core/transaction/Commit.java
  core/src/main/java/cz/o2/proxima/core/transform/ElementWiseProxyTransform.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/batch/ObserveHandle.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/commitlog/ObserveHandle.java
  direct/core/src/main/java/cz/o2/proxima/direct/core/commitlog/RetryableLogObserver.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/io/cassandra/StringConverter.java
  direct/io-cassandra/src/main/java/cz/o2/proxima/direct/io/cassandra/TransformingCqlFactory.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/io/kafka/ElementConsumer.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/io/kafka/KafkaAccessor.java
  direct/transaction-manager/src/main/java/cz/o2/proxima/direct/transaction/manager/TransactionLogObserver.java
  flink/core/src/main/java/cz/o2/proxima/flink/core/BatchLogSourceFunction.java
Labels: direct, direct-io, beam, core, beam-core, direct-core, flink, flink-core

#821 [infra] use JDK17 for sonar
  .github/workflows/build.yml
  .github/workflows/gradle.sh
Labels: infra

#824 [proxima-direct-io-jdbc] convert sql Date
  direct/io-jdbc/src/main/java/cz/o2/proxima/direct/jdbc/RowAsJsonConverter.java
  direct/io-jdbc/src/test/java/cz/o2/proxima/direct/jdbc/JdbcBatchLogReaderTableAsJsonTest.java
Labels: direct, direct-io

#641 [io-kafka] keep source StreamElement#uuid in case of no seqId
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/io/kafka/KafkaAccessor.java
  direct/io-kafka/src/main/java/cz/o2/proxima/direct/io/kafka/KafkaStreamElement.java
  direct/io-kafka/src/test/java/cz/o2/proxima/direct/io/kafka/KafkaLogReaderIT.java
Labels: direct, direct-io

#828 [proxima-beam] bump beam to 2.50.0
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/BeamStream.java
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/GStringSerializer.java
  beam/tools/src/main/java/cz/o2/proxima/beam/tools/groovy/TupleSerializer.java
  buildSrc/src/main/groovy/cz.o2.proxima.java-conventions.gradle
Labels: beam
